*.iml
local.properties
.gradle/
build/
.DS_Store
.checkstyle
.classpath
.factorypath
.idea
.metadata
.project
.settings/
artifacts.jar
bin
bin/
derby.log
gen/
logs.zip
pom.xml.releaseBackup
release.properties
res/drawable*/ic_launcher.png
target/
thumbs.db
